label {
  display: block;
  text-align: left;
}
.form {
  margin: 0 auto;
  width: 300px;

  p {
    font-size: 0.7em;
    text-transform: uppercase;
  }

  input {
    width: 97%;
  }
}

button {
  width: 100%;
  margin-top: 10px;
  border-color: darkgray;
}
